/node_modules
/public/hot
/public/images/slide
/public/storage
/storage/*.key
/vendor
/backup-vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
composer.lock
package-lock.json
